<div class="contact-us-container">
  <mat-card class="card-contact">
    <mat-card-header>
      <div mat-card-avatar class=""><mat-icon>email</mat-icon></div>
      <mat-card-title>Contact us</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <input
        name="name"
        id="name"
        placeholder="Name"
        type="text"
        required
        [(ngModel)]="name"
      />
      <input
        id="email"
        name="email"
        placeholder="Email address"
        type="email"
        onblur="this.setAttribute('value', this.value);"
        required
        [(ngModel)]="email"
      />
      <span class="validation-text">Please enter a valid email address.</span>
      <input
        name="subject"
        id="subject"
        placeholder="Subject"
        type="text"
        required
        [(ngModel)]="subject"
      />

      <div class="flex">
        <textarea
          id="message"
          name="message"
          placeholder="Message"
          rows="3"
          [(ngModel)]="message"
          required
        ></textarea>
      </div>
      <button
        #btnSend
        [class.spinner]="loading"
        [disabled]="loading"
        (click)="sendMail($event)"
        [disabled]="!(name != '' && email != '' && message != '')"
      >
        Send
      </button>
    </mat-card-content>
  </mat-card>
</div>
