/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  margin: 0;
  font-family: "nouvelle vague";
  color: #fef8ea;
  background-position: 100px 5px;
}
.mat-body,
.mat-body-1,
.mat-typography {
  font-family: "nouvelle vague";
}
