<!-- i18n="@@ourcourses" -->
<div class="background-container background-text">
  <div class="text-container">
    <span class="subtitle">Would you like to practice ACROYOGA?</span>
    <hr />
    <div class="carousel-container">
      <ngb-carousel>
        <ng-template ngbSlide *ngFor="let slide of slides">
          <div class="wrapper">
            <img [src]="slide.image" alt="Random first slide" />
          </div>
          <div class="carousel-caption">
            <p></p>
          </div>
        </ng-template>
      </ngb-carousel>
      <!-- <mat-carousel
        timings="250ms ease-in"
        [autoplay]="true"
        interval="5000"
        color="accent"
        maxWidth="auto"
        slides="5"
        [loop]="true"
        [hideArrows]="false"
        [hideIndicators]="false"
        [useKeyboard]="true"
        [useMouseWheel]="false"
        orientation="ltr"
      >
        <mat-carousel-slide
          *ngFor="let slide of slides; let i = index"
          [image]="slide.image"
          [hideOverlay]="false"
        ></mat-carousel-slide>
      </mat-carousel> -->
    </div>

    <p>Would you like to learn some postures or sequences?</p>
    <p>
      We offer 1-hour on-line or recorded classes, where you could learn basic
      acroyoga poses and transitions and have fun composing your own sequences.
    </p>
    <p>
      <b>On-line classes:</b>&nbsp;
      <a href="/contact-us/Online%20class">Contact us</a> for more info
    </p>
    <p>
      <b>Drop-in classes:</b> We are currently living in Tenerife and we offer
      drop-in classes in the different beaches and parks of the island.
      <a href="/contact-us/Drop%20in%20class">Contact us</a> or follow our
      profile to know where we are.
    </p>
    <p>
      <b>Live workshop:</b> are you a yoga school or have you got a place where
      to hold a workshop?
      <a href="/contact-us/Live%20workshop">Contact us</a> and let’s talk about
      it!
    </p>
  </div>
</div>
