<!-- i18n="@@ourcourses" -->
<div class="background-container background-text">
  <div class="text-container">
    <span class="subtitle">Would you like to practice ACROYOGA?</span>
    <hr />
    <div class="carousel-container">
      <ngb-carousel>
        <ng-template ngbSlide *ngFor="let slide of slides">
          <div class="wrapper">
            <img [src]="slide.image" alt="Random first slide" />
          </div>
          <div class="carousel-caption">
            <p></p>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>

    <p>Would you like to learn some postures or sequences?</p>
    <p>
      We offer 1-hour on-line or recorded classes, where you could learn basic
      acroyoga poses and transitions and have fun composing your own sequences.
    </p>
    <p>
      <b>On-line classes:</b>&nbsp; This is our time schedule for beginner
      online classes:
    </p>
    <mat-list role="list" class="online-classes">
      <mat-list-item role="listitem" *ngFor="let class of classes">
        <a matLine [href]="class.link">{{ class.description }}</a>
      </mat-list-item>
    </mat-list>
    <p>
      <b>Drop-in classes:</b> We are currently living in Tenerife and we offer
      drop-in classes in the different beaches and parks of the island.
      <a href="/contact-us/Drop%20in%20class">Contact us</a> or follow our
      profile to know where we are.
    </p>
    <p>
      <b>Live workshop:</b> are you a yoga school or have you got a place where
      to hold a workshop?
      <a href="/contact-us/Live%20workshop">Contact us</a> and let’s talk about
      it!
    </p>
  </div>
</div>
