.background-container {
  background-image: url(../../../assets/img/textura-texto-foto-manchas.svg);
}

.text-container {
  background-color: rgba(254, 248, 234, 0.2) !important;
}

.carousel-container {
  padding-top: 20px;
  padding-bottom: 20px;
}

ngb-carousel .wrapper {
  position: relative;
  height: 0;
  padding-top: 55%; /* Keep ratio for 900x500 images */
  background-color: rgba(254, 248, 234, 0.2);
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

ngb-carousel .wrapper > img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  max-width: 100%;
  width: 100%;
  // max-height: 100%;
}
.online-classes {
  background-color: inherit;
  // margin-top: 20px;
  margin-bottom: 20px;
}
