<!-- i18n="@@ourcourses" -->
<div class="background-text">
  <div class="text-container">
    <p>
      Would you like to practice ACROYOGA? Would you like to learn some postures
      or sequences? We offer 1-hour on-line or recorded classes, where you could
      learn basic acroyoga poses and transitions and have fun composing your own
      sequences.
    </p>
    <p>
      On-line classes: <a href="/contact-us/Online%20class">Contact us</a> for
      more info
    </p>
    <p>
      Drop-in classes: We are currently living in Tenerife and we offer drop-in
      classes in the different beaches and parks of the island.
      <a href="/contact-us/Drop%20in%20class">Contact us</a> or follow our
      profile to know where we are.
    </p>
    <p>
      Live workshop: are you a yoga school or have you got a place where to hold
      a workshop? <a href="/contact-us/Live%20workshop">Contact us</a> and let’s
      talk about it!
    </p>
  </div>
</div>
