.background-text {
  background-image: url(../../../assets/img/background-text.svg);
  background-size: cover;
  height: 100%;
  padding: 40px;
}

.about-us {
  font-family: "nouvelle vague";
  font-weight: normal;
  font-size: 1.4em;
}
