<div class="background-text" i18n="@@aboutUs">
  <p class="about-us">
    Nomads acroyoga is a fusion of acrobatics, yoga and nomadic life. Acrobatics
    in acroyoga is considered as solar practice, this helps us develop
    self-confidence, together with the strength and fun of acrobatics. Yoga, the
    lunar part, helps us cultivate awareness in breathing, balance and
    connection. Nomadic life makes us discover new places and develop curiosity,
    adaptation and mental and emotional flexibility.
  </p>
  <p class="about-us">
    Acroyoga allows us to join a large global community through communication,
    movement, connection and play.
  </p>
  <p class="about-us">
    We talk about community because we practice it with other people. Being
    connected with other bodies promotes concentration, balance and confidence
    in others.
  </p>
  <p class="about-us">
    You do not need to be an expert in yoga or acrobatics to practice this
    discipline as there are postures that any beginner can perform.
  </p>
  <p class="about-us">
    To achieve success in this discipline, mutual help is needed that forces
    people to let go of control, fear, anxiety and free themselves from useless
    burdens.
  </p>
  <p class="about-us">
    But being able to do a balanced posture also requires utmost concentration
    and attention. This state of focus improves a greater awareness in the
    present, leaving distractions and anxiety aside.
  </p>
  <p class="about-us">
    Yoga, acrobatics and travel have a common basis: living in the present in
    balance with others.
  </p>
  <p class="about-us">
    We don't like to talk about levels: the great thing is that a good
    companion-base can allow us to fly if we have the courage to trust him/her.
  </p>
  <p class="about-us">
    Why should a couple practice acroyoga? This discipline can be considered a
    couple's therapy, because being in such close physical contact increases the
    desire to be more united; trust also plays a great role in this activity,
    and besides, with all these acrobatics in the air, both of them will have to
    trust each other to make every movement fluid and to avoid falling or
    getting hurt, you will be able to have a more effective communication in the
    couple without too much tension: so don't have any doubts, get out of the
    couple's routine and add this kind of activity that will unite you and make
    you feel healthier.
  </p>
</div>
