.background-text {
  background-image: url(../../../assets/img/background-text.svg);
  background-size: cover;
  height: calc(100vh);
  top: 56px;
  padding: 0 30px;
  overflow: auto;
}

.text-container {
  background: rgba(227, 164, 159, 0.1);
  height: auto;
  padding: 40px 10px;
  min-height: 100vh;
}
p,
.therapy-text span {
  font-family: "Nouvelle vague", sans-serif;
  font-weight: normal;
  font-size: 1.4em;
  text-align: justify;
  line-height: 1.2;
}
.subtitle {
  font-family: "nouvelle vague", sans-serif;
  font-weight: bolder;
  font-style: italic;
  font-size: 1.6em;
  text-align: justify;
  line-height: 1.2;
}
.therapy-photo {
  background-image: url(../../../assets/img/therapy-photo.JPG);
  background-size: contain;
  height: 146px;
  width: 220px;
  background-repeat: no-repeat;
  display: block;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}
.stefania-photo {
  background-image: url(../../../assets/img/textura-solo-imagen.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

.polaroid {
  border-top: solid 10px;
  border-left: solid 10px;
  border-right: solid 10px;
  border-bottom: solid 30px;
  border-color: white;
}

.image-description {
  // display: block;
  // float: right;
  min-height: 200px;
  display: block;
  word-wrap: break-word;
}

.video-container {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
hr {
  border: solid 0.5px;
}
