.background-text {
  background-image: url(../../../assets/img/background-text.svg);
  background-size: cover;
  height: calc(100vh - 150px);
  padding: 40px;
  overflow: auto;
}

.about-us {
  font-family: "nouvelle vague";
  font-weight: normal;
  font-size: 1.4em;
  text-align: justify;
  line-height: 1.2;
}

br {
  line-height: 2;
}
