<mat-toolbar color="primary" mat-icon-button>
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <span class="toolbar-text">Nomads acroyoga</span>
    <!-- <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">instagram</mat-icon>
    </button> -->
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav fixedInViewport="true">
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/home'" (click)="sidenav.toggle()">
        Home
      </a>
      <a mat-list-item [routerLink]="'/about-us'" (click)="sidenav.toggle()">
        About us
      </a>
      <a mat-list-item [routerLink]="'/our-courses'" (click)="sidenav.toggle()">
        Our courses
      </a>
      <a mat-list-item [routerLink]="'/contact-us'" (click)="sidenav.toggle()">
        Contact us
      </a>

      <!-- <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item
        >Close</a
      > -->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="scroll-behavior: unset">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
