.background-container {
  background-image: none;
  padding: 0px;
}

.logo {
  height: calc(100vh - 150px);
  background-image: url(../../../assets/img/logo-transparente.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  z-index: 1;
}

.slogam {
  height: 100vh;
  width: 100%;
  background-image: url(../../../assets/img/textura-texto-hojas.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  align-items: center;
  text-align: center;
}

.slogam-text {
  font-size: 5em;
  padding-top: 50vh;
  font-family: AndelliaDavilton;
  font-weight: bolder;
  line-height: 1.1;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}
